<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Interval" value="10000" />
    <add key="SqlConnectionString" value="data source=172.19.63.116\CMSSERVER2012;Initial Catalog=UNO_STANDARD_V1;Persist Security Info=True;User ID=sa;Password=sql@2012"  />
    <add key="backuponly" value="no" />
    <add key="backuppassword" value="admin@123" />

    <!--Client Image Path -->
    <add key="ImageFilepath" value="D:\Images\" />
    <!--Excel Password-->
    <add key="ExcelPassword" value="" />
    <!--Service activity log-->
    <add key="AuditLogPath" value="E:\CommunicationServiceLog\"/>
    <!--Error Log if any unhandled exception occured-->
    <add key="ErrotLogPath" value="E:\ErrorLog\"/>

    <!--Connection Srting-->
    <add key="ConnString" value="server=172.19.10.199:9089; database =etools_dev; User Id = informix; password = Envisage@123;Connection Timeout=0;" />
    <!--<add key="ConnStringTime" value="database=etools_dev_bdb;user id=informix;password=Envisage@123;server=172.19.10.222;Connection Timeout=0;DelimIdent=false;persist security info=True" />-->
    <add key="ConnStringTime" value="server=172.19.10.199:9089; database =etools_dev; User Id = informix; password = Envisage@123;Connection Timeout=0" />

    <!--Standard Report Templet Path-->
    <add key="StandardReports" value="D:\sachin data\Envisage projects\Envisage Product Enhanment\Report\Envisage_AutoReporter\Reporter\StandardReports\"/>

    <add key="TempFolder" value="D:\sachin data\Envisage projects\Envisage Product Enhanment\Report\Envisage_AutoReporter\Reporter\TempFolder\"/>

    <add key="OutputFolder" value="D:\sachin data\Envisage projects\Envisage Product Enhanment\Report\Envisage_AutoReporter\Reporter\OutputFolder\"/>

    <add key="ExcelType" value=".xls"/>

    <add key="CommandTimeOut" value="8000" />

    <add key="emailLogicType" value="0" />
    <add key ="IsRollover" value="0"/>
    <!-- Rollover Flag 1= Yes , 0= No ie. datafrom loadsurveylogs -->
    <!--SMTP Details -->
    <!--<add key="UserName" value="smtp" />
    <add key="Password" value="smtp@456" />
    <add key="From" value="manohar_molawade@cms.co.in" />
    <add key="PortNumber" value="25" />
    <add key="SMTPHostName" value="172.19.63.115" />-->
    <add key="EnableSSL" value="True" />
    <add key="isGYH" value="True" />


    <add key="UserName" value="smtp" />
    <add key="Password" value="test@1234567" />
    <add key="From" value="apc.reporter@gmail.com"/>
    <add key="PortNumber" value="25"/>
    <add key="SMTPHostName" value="smtp.gmail.com"/>



    <!--SMS -->
    <add key="CompPort" value="COM2" />

    <!--Timer interval in minute -->
    <add key="TimeInterval" value="1"/>
    <!--Report -->
    <add key="WaitingTime" value="15" />
  </appSettings>
</configuration>